$primary: #fa8334;
$newPrimary: #DF0629;
$success: #52c41a;
$warning: #ff9d3b;
$danger: #f5212d;
$info: #4a89dc;
$blue:#324157;
$textGrey: #666;
$textLightGrey: #ccc;
$text: #333333;
$greyBg: #f5f7fa;
$darkBg: #31313A;

$borderGrey: #d9d9d9;

$baseWidth: 1360px;
$baseLineHeight: 160%;
$containerPadding: 70px;
